{% extends 'layouts/master.html' %}

{% block title %}
Employee - Edit
{% endblock %}

{% block content%}
<div class="container mt-5">
    <h1>This is employee edit page</h1>
    <a href="{% url 'emp-index' %}" class="btn btn-primary">BACK</a>
    <hr>
    <div class="row">
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-2">
            <form action="">
                <div class="form-group mb-2">
                    <label for="" class="mb-2">Name</label>
                    <input type="text" class="form-control" name="full_name" value="{{ data.full_name }}">
                </div>
                <div class="form-group mb-2">
                    <label for="" class="mb-2">Contact</label>
                    <input type="number" class="form-control" name="full_name" value="{{ data.contact }}">
                </div>
                <div class="form-group mb-2">
                    <label for="" class="mb-2">Email</label>
                    <input type="email" class="form-control" name="full_name" value="{{ data.email }}">
                </div>
                <div class="form-group mb-2">
                    <label for="" class="mb-2">DOB</label>
                    <input type="date" class="form-control" name="full_name" value="{{ data.dob }}">
                </div>
                <div class="form-group mb-2">
                    <label for="" class="mb-2">Join Date</label>
                    <input type="date" class="form-control" name="full_name" value="{{ data.join_date }}">
                </div>
                <div class="form-group mb-2">
                    <label for="" class="mb-2">Male</label>
                    <input type="text" class="form-control" name="full_name" value="{{ data.gender }}">
                </div>
                <div class="form-group mb-2">
                    <label for="" class="mb-2">Blood Group</label>
                    <input type="text" class="form-control" name="full_name" value="{{ data.blood_group }}">
                </div>
                <div class="form-group mb-2">
                    <label for="" class="mb-2">Address</label>
                    <input type="text" class="form-control" name="full_name" value="{{ data.addresa }}">
                </div>
                <div class="form-group mb-2">
                    <label for="">Select Department</label>
                    <select name="deparment" id="" class="form-control">
                        {% for val in department %}
                        <option value="{{ val.id }}"> {{% val.department_name %}} </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mb-2">
                    <label for="">Select User</label>
                    <select name="user" id="" class="form-control">
                        {% for val in user %}
                        <option value="{{ val.id }}"> {{% val.user_name %}} </option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
    <form action="">

    </form>
</div>
{% endblock%}