{% extends 'layouts/master.html' %}

{% block title %}
    Employee - List
{% endblock%}

{% block content%}
<div class="container mt-5">
    <h1>This is employee list page</h1>
    <hr>
    <a href="{% url 'emp-add' %}" class="btn btn-primary">Add</a>
    <table class="table table-striped-columns table-hover">
        <thead>
            <tr>
                <th>S.NO</th>
                <th>Name</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Department</th>
                <th colspan="3">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for val in data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ val.full_name }}</td>
                <td>{{ val.contact }}</td>
                <td>{{ val.email }}</td>
                <td>{{ val.department }}</td>
                <td><a href="{% url 'emp-edit' val.id %}">Edit</a></td>
                <td><a href="{% url 'emp-show' val.id %}">Show</a></td>
                <td><a href="{% url 'emp-delete' val.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}