{% extends 'layouts/master.html' %}

{% block title %}
Salaryrecord - Edit
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>This is the salary record edit page</h1>
    <a href="{% url 'sal-index' %}" class="btn btn-primary">BACK</a>
    <hr>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form action="{% url 'sal-update' %}" method="post">
                {% csrf_token %}

                <input type="hidden" name="id" value="{{ data.id }}">
                
                <div class="form-group mb-2">
                    <label for="" class="mb-2">Salary Amount</label>
                    <input type="number" name="salary_amount" id="" class="form-control" vaue="{{ data.salary_amount }}">
                </div>

                <div class="form-group mb-2">
                    <label for="" class="mb-2">Bonus Amount</label>
                    <input type="number" name="bonus_amount" id="" class="form-control" vaue="{{data.bonus_amount }}">
                </div>

                <div class="form-group mb-2">
                    <label for="" class="mb-2">Allowance</label>
                    <input type="number" name="allowance" id="" class="form-control" vaue="{{data.allowance}}">
                </div>

                <div class="form-group mb-2">
                    <label for="" class="mb-2">Tds in Percent</label>
                    <input type="number" name="tds_in_percent " id="" class="form-control"
                        vaue="{{data.tds_in_percent}}">
                </div>

                <div class="form-group mb-2">
                    <label for="" class="mb-2">Start Date</label>
                    <input type="date" name="start_date" id="" class="form-control" vaue="{{data.start_date}}">
                </div>

                <div class="form-group mb-2">
                    <label for="" class="mb-2">End Date</label>
                    <input type="date" name="end_date" id="" class="form-control" vaue="{{data.end_date}}">
                </div>

                <!-- <div class="form-group mb-2">
                    <label>Select User</label>
                    <select name="employee" class="form-control">
                        {% for val in employee %}
                        <option value="{{ val.id }}">{{ val.username }}</option> -->
                        
                        {% endfor %}
                    </select>
                </div>

                <input type="submit" class="btn btn-primary mt-2" value="UPDATE">
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}