{% extends 'layouts/master.html' %}

{% block title %}
    Salaryrecord - Details
{% endblock %}

{% block custom_css %}

{% endblock %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>

{% block content %}
    <div class="container mt-5">
        <h1>This is the salary  record details page</h1>
        <hr>
        <a href="{% url 'sal-index' %}" class="btn btn-primary"> <h3> <i class="fa fa-arrow-left" aria-hidden="true"></i> </h3>BACK</a>
        <hr>
        <div class="card">
            <div class="card-header"><h3>Amount:- {{data.salary_amount }}</h3></div>
            <div class="ccard-body">
                <h6> Bonus Amount:- {{ data.bonus_amount }} </h6>
                <h6> Allowance:- {{ data.allowance }} </h6>
                <h6> Tds In Percent:- {{ data.tds_in_percent }} </h6>
                <h6> Start Date:- {{ data.start_date }} </h6>
                <h6> End Date:- {{ data.end_date }} </h6>
                <h6> Employee:- {{ data.employee}} </h6>
            </div>
        </div>
    </div>
{% endblock %}